<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>Controller.Google.control.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>Controller.Google.control.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>Controller.Google.control.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>Controller.Google.control.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountControl</servlet-name>
        <servlet-class>Controller.Google.control.ManageAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadPostControl</servlet-name>
        <servlet-class>Controller.Google.control.loadPostControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>Controller.Google.control.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountControl</servlet-name>
        <servlet-class>Controller.Google.control.DeleteAccountControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountControl</servlet-name>
        <url-pattern>/managerAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadPostControl</servlet-name>
        <url-pattern>/loadPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountControl</servlet-name>
        <url-pattern>/deleteAcc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
